<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href=" {% static 'css/all.css' %}">
  <link rel="stylesheet" href=" {% static 'css/bootstrap.css' %}">
  <link rel="stylesheet" href=" {% static 'css/style.css' %}">
    <link rel="stylesheet" href=" {% static 'css/lightbox.min.css' %}">
    <title>Base</title>
</head>
<body>
{% include "partials/_navbar.html" %}
{% include "partials/_topbar.html" %}
{% include "partials/_footer.html" %}
<h1>Hello Monisha!!!</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
</div>
  <script src=" {% static 'js/jquery-3.3.1.min.js' %} "></script>
  <script src=" {% static 'js/bootstrap.bundle.min.js' %} "></script>
  <script src=" {% static 'js/main.js' %} "></script>
</body>
</html>